thread_stack_size: "24MiB"

application:
  network_id: "undeployed"

infra:
  run_migrations: true

  storage:
    host: "localhost"
    port: 5432
    dbname: "indexer"
    user: "indexer"
    sslmode: "prefer"
    max_connections: 25
    idle_timeout: "1m"
    max_lifetime: "5m"

  ledger_db:
    cache_size: "1MiB"

  pub_sub:
    url: "localhost:4222"
    username: "indexer"
    max_reconnects: 4

  api:
    address: "0.0.0.0"
    port: 8088
    request_body_limit: "1MiB"
    max_complexity: 200
    max_depth: 15
    subscription:
      blocks:
        batch_size: 20
      contract_actions:
        batch_size: 20
      dust_ledger_events:
        batch_size: 20
      shielded_transactions:
        batch_size: 20
        progress_update_interval: "30s"
        keep_wallet_alive_interval: "1m"
      unshielded_transactions:
        batch_size: 20
        progress_update_interval: "30s"
      zswap_ledger_events:
        batch_size: 20

telemetry:
  tracing:
    enabled: false
    service_name: "indexer-api"
    otlp_exporter_endpoint: "http://localhost:4317"
  metrics:
    enabled: false
    address: "0.0.0.0"
    port: 9000
