thread_stack_size: "24MiB"

application:
  network_id: "undeployed"
  blocks_buffer: 10
  caught_up_max_distance: 10
  caught_up_leeway: 5
  active_wallets_query_delay: "500ms"
  active_wallets_ttl: "30m"
  transaction_batch_size: 50
  # 1 by default
  # concurrency_limit:

infra:
  run_migrations: true

  storage:
    cnn_url: "/data/indexer.sqlite"

  ledger_db:
    cache_size: "1kiB"
    cnn_url: "/data/ledger-db.sqlite"

  node:
    url: "ws://localhost:9944"
    reconnect_max_delay: "10s" # 10ms, 100ms, 1s, 10s
    reconnect_max_attempts: 30 # Roughly 5m
    subscription_recovery_timeout: "30s" # Re-subscribe if no block received within this time

  api:
    address: "0.0.0.0"
    port: 8088
    request_body_limit: "1MiB"
    max_complexity: 200
    max_depth: 15
    subscription:
      blocks:
        batch_size: 20
      contract_actions:
        batch_size: 20
      dust_ledger_events:
        batch_size: 20
      shielded_transactions:
        batch_size: 20
        progress_update_interval: "30s"
        keep_wallet_alive_interval: "1m"
      unshielded_transactions:
        batch_size: 20
        progress_update_interval: "30s"
      zswap_ledger_events:
        batch_size: 20

telemetry:
  tracing:
    enabled: false
    service_name: "indexer"
    otlp_exporter_endpoint: "http://localhost:4317"
  metrics:
    enabled: false
    address: "0.0.0.0"
    port: 9000
