*.check
.config
.dockerignore
.DS_Store
.envrc
.envrc.local
.git
.github
.gitignore
.idea
.midnight.txt
.node/**/chain
.sql-formatter.json
.sync_cache
.vscode
.zed
CHANGELOG.md
CODE_OF_CONDUCT.md
CODEOWNERS
CONTRIBUTING.md
coverage.sh
deny.toml
docker-compose.yaml
docs
generate_node_data.sh
generate_txs.sh
get_node_metadata.sh
justfile
LICENSE
license_headers.sh
qa
README.md
rustfmt.toml
SECURITY.md
taplo.toml
target
