name: Validate GitHub Actions Workflows

permissions:
  contents: read

on:
  pull_request:
    paths:
      - ".github/workflows/*.yml"
      - ".github/workflows/*.yaml"
  push:
    branches: [main]
    paths:
      - ".github/workflows/*.yml"
      - ".github/workflows/*.yaml"

jobs:
  actionlint:
    name: Lint workflows
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Run actionlint
        uses: raven-actions/actionlint@963d4779ef039e217e5d0e6fd73ce9ab7764e493 #v2.1.0
        with:
          matcher: true # Enable GitHub annotations for errors
          fail-on-error: true # Fail CI when errors are found
